@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

body {
    padding: 0 10px;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.MuiSnackbarContent-message {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pointer-events-children-none > * {
    pointer-events: none;
}

.pointer-events-children-none > *:first-child {
    pointer-events: auto;
}
